resource "signalfx_single_value_chart" "{{ fmt_name }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    {% if options.maximumPrecision and options.maximumPrecision != "" %}
      max_precision       = "{{ options.maximumPrecision }}"
    {% endif %}
    {% if options.programOptions and options.programOptions.maxDelay %}
    max_delay           = "{{ options.programOptions.maxDelay }}"
    {% endif %}
    is_timestamp_hidden = {{ options.timestampHidden|lower }}
    {% if refreshInterval %}
    refresh_interval    = "{{ refreshInterval|lower }}"
    {% endif %}
    show_spark_line     = "{{ options.showSparkLine |lower }}"
    {% if options.unitPrefix %}
    unit_prefix         = "{{ options.unitPrefix }}"
    {% endif %}
    {% if options.secondaryVisualization != "" %}
    secondary_visualization = "{{ options.secondaryVisualization }}"
    {% endif %}

    program_text = <<-EOF
{{ programText }}
    EOF
}
