resource "signalfx_text_chart" "{{ fmt_name }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    markdown = <<-EOF
      {{ options.markdown }}
    EOF
}
